<configuration>
  <system.webServer>
    <!-- Configuración del manejador de Node.js -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Reescritura de URLs para redirigir todas las solicitudes a app.js -->
    <rewrite>
      <rules>
        <rule name="Node.js">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Seguridad: Filtrar segmentos ocultos -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <!-- Puedes ocultar directorios como node_modules u otros sensibles -->
          <add segment="node_modules" />
          <add segment=".git" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Configuración de iisnode -->
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="true" node_env="production" />

    <!-- Permitir que los errores sean manejados por la aplicación Node.js -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Deshabilitar la navegación por directorios -->
    <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="app.js" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.php" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
